 @import 'main.css.scss';


/************************************

  CSS For Card 1 Design

************************************/

.title-section {
  margin: 30px 0px;
}

.card1-area {
  margin: 50px 0px;
}

.card-title {
  margin: 40px 0  ;
}

.section-card {
  background-color: white;
  border-radius: 4px;
  color: $card-text-color;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

  h4 {
    font-size: 1em;
    margin: 30px 0 15px;
    text-transform: uppercase;
  }

  input {
    font-size: 16px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;

  }

  select {
    font-size: 16px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
  }

  textarea {
    padding: 10px;
    font-size: 16px;
  }

  .left-area {
    padding: 20px 60px 60px;
  }

  .right-area {
    background-color: $card-background-color;
    //Have to add border radius to this class as well since it overwrites parent border radius?
    border-radius: 0px 4px 4px 0px;
    padding: 80px 50px 20px;
    text-align: center;

    p {
      font-size: 16px;
      margin-top: 70px;
    }
  }
}

.custom-checkbox{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 3px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: none;
    border: 3px solid #72cc72;
}

.upgrade-area {
  font-size: 14px;

  b {
    font-size: 18px;
  }

  .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }

}
