/************************************

  CSS For Card 1 Design

************************************/

.card1-area {
  margin: 90px 0px;
}

.section-card {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
