/************************************

  Color Variables

************************************/

$light-grey:   #F9F9FB;
$light-grey-2: #E7E9EC;
$dark-grey:    #2B3340;
$dark-blue:    #0E4369;
$black-blue:   #161F2B;
$purple:       #902DD9;

$background-color: $dark-grey;
$card-background-color: $light-grey;
$card-text-color: $black-blue;


/************************************

  Global Settings

************************************/

body {
  background-color: $background-color;
  color: white;
  font-family: 'Lato', sans-serif;
}

h1,
h2,{
  font-weight: 900;
}

h3,
h4 {
  font-weight: 400;
}

.right-align {
  text-align: right;
}

.label {
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5px 15px;
}

.label-purple {
  background-color: $purple;
}

/************************************

  Homepage

************************************/

.homepage-section {
  margin: 4px 0;
}
