/************************************

  Color Variables

************************************/

$dark-grey: #2B3340;

/************************************

  Global Settings

************************************/

body {
  font-family: 'Lato', sans-serif;
  background-color: $dark-grey;
  color: white;
}

h1, h2, h3, h4 {
  font-weight: 900;
}


/************************************

  Homepage

************************************/

.homepage-section {
  margin: 80px 0px;
}
