/************************************

  Color Variables

************************************/

$light-grey:   #F9F9FB;
$light-grey-2: #E7E9EC;
$dark-grey:    #2B3340;
$dark-blue:    #0E4369;
$black-blue:   #141E2A;

$background-color: $dark-blue;
$card-background-color: $light-grey;
$card-text-color: $black-blue;


/************************************

  Global Settings

************************************/

body {
  font-family: 'Lato', sans-serif;
  background-color: $background-color;
  color: white;
}

h1, h2, h3, h4 {
  font-weight: 900;
}


/************************************

  Homepage

************************************/

.homepage-section {
  margin: 4px 0;
}
